<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

$colors = [
    [
        'value' => '#1979c3',
        'variable' => '@theme__color__primary'
    ],
    [
        'value' => '#006bb4',
        'variable' => '@theme__color__primary-alt'
    ],
    [
        'value' => '#ff5501',
        'variable' => '@theme__color__secondary'
    ],
    [
        'value' => '#514943',
        'variable' => '@color-brownie'
    ],
    [
        'value' => '#736963',
        'variable' => '@color-brownie-vanilla'
    ],
    [
        'value' => '#c07600',
        'variable' => '@color-brownie-light1'
    ],
    [
        'value' => '#c07600',
        'variable' => '@color-yellow-light1'
    ],
    [
        'value' => '#ffee9c',
        'variable' => '@color-yellow-light2'
    ]
]
?>

<section class="styleguide__section styleguide__colors"
         id="colors">
    <h2 class="styleguide__title">
        <?= __('Colors'); ?>
    </h2>

    <ul class="styleguide-colors-list">
        <?php foreach ($colors as $color) :?>
            <li class="styleguide-colors-list__tile"
                style="background-color: <?= $color['value'] ?>">
                <span class="styleguide-colors-list__item"
                      data-variable="<?= $color['variable'] ?>">
            </span>
            </li>
        <?php endforeach;?>
    </ul>
</section>
