<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
?>

<section class="styleguide__section styleguide__typography"
         id="typography">

    <h2 class="styleguide__title">
        <?= __('Typography'); ?>
    </h2>

    <div class="styleguide-entry">
        <h3 class="styleguide-entry__title">
            <?= __('Web fonts'); ?>
        </h3>
        <h3 style="font-weight: 300;">Open Sans - Light (300)</h3>
        <h3 style="font-weight: 400;">Open Sans - Regular (400)</h3>
        <h3 style="font-weight: 600;">Open Sans - Semi-bold (600)</h3>
        <h3 style="font-weight: 700;">Open Sans - Bold (700)</h3>
    </div>

    <div class="styleguide-entry">
        <h3 class="styleguide-entry__title">
            <?= __('Headings'); ?>
        </h3>

        <h1><?= __('Heading 1'); ?></h1>
        <h2><?= __('Heading 2'); ?></h2>
        <h3><?= __('Heading 3'); ?></h3>
        <h4><?= __('Heading 4'); ?></h4>
        <h5><?= __('Heading 5'); ?></h5>
        <h6><?= __('Heading 6'); ?></h6>
    </div>

    <div class="styleguide-entry">
        <h3 class="styleguide-entry__title">
            <?= __('Paragraphs'); ?>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong><?= __('bold text example'); ?></strong>
            dans le texte rutrum, vulputate lectus eu, elementum risus.
            Pellentesque sollicitudin sed sem lacinia faucibus. Integer commodo vitae mauris ut aliquet.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Quisque venenatis augue eget purus euismod efficitur. Phasellus tristique,
            mauris nec molestie ultrices, risus sem accumsan risus, eget hendrerit mi turpis sit amet odio.
            In dignissim a velit sit amet tempus. Morbi ut dui a est malesuada molestie.</p>
        <p>Donec vel auctor eros. <a href="/"><?= __('link text example'); ?></a> sed ante ipsum,
            malesuada vel odio quis, dignissim aliquam nisi.
            Aenean auctor diam ac nunc aliquam aliquet. Ut ut neque neque.
            Fusce ac euismod orci, eget porttitor ligula.
            Nulla vitae justo at neque vehicula fermentum.
            Suspendisse ut consectetur augue, quis rutrum libero.
            Cras elit erat, convallis in efficitur eu, ullamcorper ac massa.</p>
    </div>
</section>
