<?php
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
?>

<section class="styleguide__section styleguide__messages"
         id="messages">
    <h2 class="styleguide__title">
        <?= __('Messages'); ?>
    </h2>
    <div class="styleguide-entry__list">
        <div class="page messages">
            <div>
                <div aria-atomic="true" role="alert" class="messages">
                    <div class="message-success success message">
                        <div>Thank you for your subscription.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page messages">
            <div>
                <div aria-atomic="true" role="alert" class="messages">
                    <div class="message-info info message">
                        <div>Thank you for your subscription.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page messages">
            <div>
                <div aria-atomic="true" role="alert" class="messages">
                    <div class="message-warning warning message">
                        <div>Thank you for your subscription.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page messages">
            <div>
                <div aria-atomic="true" role="alert" class="messages">
                    <div class="message-notice notice message">
                        <div>Thank you for your subscription.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page messages">
            <div>
                <div aria-atomic="true" role="alert" class="messages">
                    <div class="message-error error message">
                        <div>Thank you for your subscription.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
