/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

& when (@media-common = true) {
    .page-layout-styleguide {
        .page-wrapper {
            flex-direction: row;
        }

        .sidebar-main {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: @styleguide-sidebar__width;
            background-color: @styleguide-sidebar__background-color;
            overflow: auto;
            padding: 0;
        }

        .page-main {
            max-width: none;
            padding-left: @styleguide-sidebar__width;
        }

        .columns {
            padding: @styleguide-sidebar__padding;
        }
    }
}
