/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

@styleguide-sidebar__width: 30rem;
@styleguide-sidebar__padding: 4rem;
@styleguide-sidebar__background-color: @color-gray95;
